*{
    font-size: 15px;
}
.centralizaTitulo{
    text-align: center;
}
#corpo{
    height: 100vh;
    background-color: rgb(76, 166, 207);
}
#login{
    position: relative;
    top: 40%;
    transform: translateY(-50%); 
}
input{
    border-radius: 5px;
    width: 100%;
}
.form{
    border: 3px solid;
    border-radius: 5px;
    border-style: inset;
    border-color: black;
    padding: 15px;
}
.fundoCinza{
    background-color: rgb(184, 178, 178);
}
#navbar{
    height: 100px;
    background-color: rgb(219, 208, 208);
}
.glyphicon{
    width: 30px;
    height: 30px;
}